.Social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 999;
    position: fixed;
    right: 10px;
    font-weight: bold;
    align-items: center;
}

.Social a {
    color: #838282;
    margin: 10px;
}

.Social a:hover {
    color: rgb(17, 179, 179);
  
    transition: color 0.5s ease-in;
}

.Social svg {
    font-size: 34px;
}

.CVLink {
padding: 4px;
    font-size: 18px;
    background-color: transparent;
    border: 2px solid #838282;
    margin: 8px;
    border-radius: 10px;

}

.CVLink:hover {
    border: 2px solid rgb(17, 179, 179);
}