
.Sections {
    position: relative;
    width: 100%;
    background-color: #191a1b;
}

.Anchors {
    position: absolute;
    width: 40px;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px;

}

.Anchors span::before {
    content: "\2662";
  }

  .Anchors span.Active::before {
    content: "\2666";
    transform: scale(1);
  }

.Inactive{
    color: white;
    font-size: 2em;
    position: sticky;
    z-index: 1000;
    cursor: pointer;
}

.Active {
    color: rgb(58, 179, 172);
    font-size: 2em;
    position: sticky;
    z-index: 1000;
    cursor: pointer;
    transform: scale(1.5);
    transition: all 0.4s ease-in;
}

