@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Share+Tech+Mono&display=swap');
.App {
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #0d6e61;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #292929b2;
  border-radius: 10px;
}


a {
  color: #fff;
  text-decoration: none;
}