:root {
  --grad-1: rgb(71,119,179);
  --grad-2: rgb(122,200,87);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.gradient1 {
  stop-color: var(--grad-1);
  transition: all .3s ease-in-out;
}

.gradient2 {
  stop-color: var(--grad-2);
  transition: all .3s ease-in-out;
}

[data-name=corner-bottom-right], [data-name=corner-top-left] {
  opacity: 1;
  width: 300px;
  height: 300px;
  z-index: 1001;
  transition: all ease-in-out;
  position: absolute;
}

[data-name=corner-top-left] {
  top: 5%;
  left: 5%;
}

[data-name=corner-bottom-right] {
  bottom: 5%;
  right: 5%;
}

